		body > div
		{
			display: inline-block;
		}
		#mainContentWrapper
		{
			width: 80%;
		}
		#sortableWrapper
		{
			width: 20%;
			position: absolute;
			color: black;
			list-style: none;
		}
		#sortableWrapper li
		{
			font-size: 250%;
			margin-top: 30px;
			margin-bottom: 30px;
			list-style: none;
			padding-left: 20px;
		}
		.mainmenu ul > li
		{
			position: relative;
		}